body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

button {
  background: #22c55e;
  border: none;
  padding: 14px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 16px;
  border-radius: 12px;
  margin-top: 16px;
}

img {
  width: 100%;
  border-radius: 12px;
}
